php_flag register_globals on
DirectoryIndex index.php
RewriteEngine on
Options +FollowSymlinks
RewriteCond %{HTTP_HOST} ^pamira\.ru$ [NC]
RewriteRule ^(.*)$ http://www.pamira.ru/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_URI} !.html$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [R=301,L]

RewriteRule ^index/$ index.php?page=home&%{QUERY_STRING} [QSA] 
RewriteRule ^about/$ index.php?page=about [QSA]
RewriteRule ^contact/$ index.php?page=contact [QSA]
RewriteRule ^akcii/([^/\.]+)/?$ index.php?page=akcii&id=$1&%{QUERY_STRING} [QSA]
RewriteRule ^akcii/$ index.php?page=akcii&%{QUERY_STRING} [QSA]
RewriteRule ^sale/$ index.php?page=sale&%{QUERY_STRING} [QSA]
RewriteRule ^catalog/([^/\.]+)/([^/\.]+)/^_/([^/\.]+)/?$ index.php?page=catalog&id=$1&id1=$2&id2=&tovar=$4 [QSA]
RewriteRule ^catalog/([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ index.php?page=catalog&id=$1&id1=$2&id2=$3&tovar=$4 [QSA]
RewriteRule ^catalog/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ index.php?page=catalog&id=$1&id1=$2&id2=$3 [QSA]
RewriteRule ^catalog/([^/\.]+)/([^/\.]+)/?$ index.php?page=catalog&id=$1&id1=$2 [QSA]
RewriteRule ^catalog/([^/\.]+)/?$ index.php?page=catalog&id=$1 [QSA]
RewriteRule ^catalog/$ index.php?page=catalog [QSA]
RewriteRule ^tovar_po_brandu/([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ index.php?page=tovar_po_brandu&id=$1&id1=$2&id2=$3&id3=$4 [QSA]
RewriteRule ^tovar_po_brandu/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ index.php?page=tovar_po_brandu&id=$1&id1=$2&id2=$3 [QSA]
RewriteRule ^tovar_po_brandu/([^/\.]+)/([^/\.]+)/?$ index.php?page=tovar_po_brandu&id=$1&id1=$2 [QSA]
RewriteRule ^tovar_po_brandu/([^/\.]+)/?$ index.php?page=tovar_po_brandu&id=$1 [QSA]
RewriteRule ^tovar_po_brandu/?$ index.php?page=tovar_po_brandu [QSA]
RewriteRule ^article/([^/\.]+)/?$ index.php?page=article&id=$1 [QSA]
RewriteRule ^article/?$ index.php?page=article [QSA]
RewriteRule ^cart/?$ index.php?page=cart [QSA]
RewriteRule ^compare/?$ index.php?page=compare [QSA]
RewriteRule ^ordermake/?$ index.php?page=ordermake [QSA]
RewriteRule ^search/$ index.php?page=search&%{QUERY_STRING} [QSA] 
RewriteRule ^str_designer/([^/\.]+)/([^/\.]+)/?$ index.php?page=str_designer&id=$1&id1=$2 [QSA]
RewriteRule ^str_designer/([^/\.]+)/?$ index.php?page=str_designer&id=$1 [QSA]
RewriteRule ^str_designer/$ index.php?page=str_designer&%{QUERY_STRING} [QSA] 
RewriteRule ^podbor_tehniki/$ index.php?page=podbor_tehniki&%{QUERY_STRING} [QSA] 

RewriteRule ^sitemap\.html$ index.php?page=sitemap [QSA]

ErrorDocument 404 /404.html